In [9]:
import numpy as np
import pandas as pd

admissions = pd.read_csv('Datasets/LinearRegression/student_data_gradient.csv')
admissions.head()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  800  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

In [10]:
data = pd.concat([admissions, pd.get_dummies(admissions['rank'], prefix='rank')], axis=1)
data.head()

   admit  gre   gpa  rank  rank_1  rank_2  rank_3  rank_4
0      0  380  3.61     3       0       0       1       0
1      1  660  3.67     3       0       0       1       0
2      1  800  4.00     1       1       0       0       0
3      1  640  3.19     4       0       0       0       1
4      0  520  2.93     4       0       0       0       1

In [11]:
data = data.drop('rank', axis=1)
data.head()

   admit  gre   gpa  rank_1  rank_2  rank_3  rank_4
0      0  380  3.61       0       0       1       0
1      1  660  3.67       0       0       1       0
2      1  800  4.00       1       0       0       0
3      1  640  3.19       0       0       0       1
4      0  520  2.93       0       0       0       1

In [13]:
# Standardize Features
for field in ['gre','gpa']:
    mean, std = data[field].mean(), data[field].std()
    data.loc[:,field] = (data[field] - mean)/std
data.head()

   admit       gre       gpa  rank_1  rank_2  rank_3  rank_4
0      0 -1.798011  0.578348       0       0       1       0
1      1  0.625884  0.736008       0       0       1       0
2      1  1.837832  1.603135       1       0       0       0
3      1  0.452749 -0.525269       0       0       0       1
4      0 -0.586063 -1.208461       0       0       0       1

In [17]:
int(len(data)*0.9)

360

In [18]:
# Split off random 10% data for the testing
np.random.seed(21)
sample = np.random.choice(data.index, size=int(len(data)*0.9),replace=False)
data, test_data = data.loc[sample], data.drop(sample)
len(data), len(test_data)

(360, 40)

In [20]:
# Split into Features and Targets
features, targets = data.drop('admit', axis=1), data['admit']
features_test, targets_test = test_data.drop('admit', axis=1), test_data['admit']

In [30]:
np.random.seed(21)
def sigmoid(x):
    return 1 / (1 + np.exp(-x))

# Hyperparameters
n_hidden = 2
epochs = 900
learnrate = 0.005
lastloss = None
n_records, n_features = features.shape

# Initialize Weights
weights_input_hidden = np.random.normal(scale=1/n_features**0.5, size=(n_features, n_hidden))
weights_hidden_output = np.random.normal(scale=1/n_features**0.5, size=n_hidden)
print(f"Weights Input Hidden:\n{weights_input_hidden}\n")
print(f"Weights Hidden Output:\n{weights_hidden_output}")

Weights Input Hidden:
[[-0.02121432 -0.0453956 ]
 [ 0.42531176 -0.51306167]
 [ 0.30430325 -0.69853477]
 [-0.08404378 -0.09576333]
 [ 0.46056288 -0.00515452]
 [-0.25033797  0.56080598]]

Weights Hidden Output:
[ 0.65768472 -0.28137626]

In [31]:
for e in range(epochs):
    del_w_input_hidden = np.zeros(weights_input_hidden.shape)
    del_w_hidden_output = np.zeros(weights_hidden_output.shape)
    for x,y in zip(features.values, targets):
        # Calculate the Output
        hidden_input = np.dot(x,weights_input_hidden)
        hidden_output = sigmoid(hidden_input)
        
        output = sigmoid(np.dot(hidden_output, weights_hidden_output))
        
        # Backward Pass
        # Calculate the Network's Prediction Error
        error = y - output
        
        # Calculate the Error Term for the Output Unit
        output_error_term = error * output * (1 - output)
        
        # Propogate error to Hidden Layers
        # Calculating Hidden Layer Contribution to the Errors
        hidden_error = np.dot(output_error_term, weights_hidden_output)
        
        # Calculating the Error Term for the Hidden Layer
        hidden_error_term = hidden_error * hidden_output * (1 - hidden_output)
        
        # Update the Change in Weights
        del_w_hidden_output += output_error_term * hidden_output
        del_w_input_hidden += hidden_error_term * x[:,None]
        
    # Update Weights
    weights_input_hidden += learnrate * del_w_input_hidden/n_records
    weights_hidden_output += learnrate * del_w_hidden_output/n_records
    
    # Printing Out the MSE on the Training Set
    if e % (epochs / 10) == 0:
        hidden_output = sigmoid(np.dot(x, weights_input_hidden))
        out = sigmoid(np.dot(hidden_output, weights_hidden_output))
        loss = np.mean((out-targets) ** 2)
        if lastloss and lastloss < loss:
            print(f"Train loss: {loss}, WARNING - Loss Increasing")
        else:
            print(f"Train loss: {loss}")
        last_loss = loss

Train loss: 0.25135725242598617
Train loss: 0.24996540718842916
Train loss: 0.2486200521890466
Train loss: 0.2473199321717973
Train loss: 0.24606380465584848
Train loss: 0.24485044179257176
Train loss: 0.2436786320186832
Train loss: 0.24254718151769541
Train loss: 0.24145491550165465
Train loss: 0.2404006793249338

In [32]:
# Calculate Accuracy on Test Data
hidden = sigmoid(np.dot(features_test, weights_input_hidden))
out = sigmoid(np.dot(hidden, weights_hidden_output))
predictions = out > 0.5
accuracy = np.mean(predictions == targets_test)
print(f"Prediction Accuracy: {accuracy*100:.1f}%")

Prediction Accuracy: 72.5%